* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
}

body {
    height: 100vh;
    background-position: left;
    background-size: cover;
    background-image: url('https://picstatio.com/download/2560x1440/c4792a/sunset-tree-lake-nature-art.jpg');
}

li {
    list-style: none;
}

/* HEADERS */

header {
    position: relative;
    display: flex;
    justify-content: center;

}

.back_navbar {
    position : fixed;
    margin: 0;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #1D2031;
    background-color: rgba(29, 32, 49, 0.54);
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(6, 6, 6, 0.8);

    /* background-color: #1D2031; */
}

nav a {
    font-size: 2.5rem;
    padding: 1rem;
    text-decoration: none;
}

nav a .blue{
    color: #AD92F1;
}

nav a .white{
    color: #E8E8E8;
}

nav div .navbar_menu {
    font-size: 2rem;
    color: #E8E8E8
}

nav div a .fa-bars:hover {
    cursor: pointer;
    color: white;
}

/* DROP MENU */



.darkin_kayn {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100%;
    flex-direction: column;

    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.drop_menu {
    transition: transform 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    flex-direction: column;
    overflow: auto;

    display: none;
    background-color: #0B0A0F;

}

div .close_menu {
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: #252231;
    border-radius: 20px;
    width: 140px;
    height: 30px;
    color: #ffffff;
    font-size: 15px;

    text-decoration: none;
    border: none;
    outline: none;
}

div .close_menu:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #474063;
}

ul {
    list-style: none;
}

.drop_menu .menu_list {
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.drop_menu .menu_list .header {
    font-size: 25px;
    height: 45px;
    background-color: #191722;

}

.drop_menu .menu_list .header div {
    font-size: 25px;
    color: white;
    height: 40px;
    background-color: #0B0A0F;
}

.drop_menu .menu_list .column {
    padding: 10px;
    background-color: rgba(217, 217, 217, 0.1);
}

.drop_menu .menu_list .column li {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;

}

.drop_menu .menu_list .column li a {
  text-decoration: none;
  color: white;
  white-space: nowrap;

}

.drop_menu .menu_list .column li a:hover {
  color: red;

  animation: scrollText 15s linear infinite;
}

.drop_menu.open {
  position : fixed;
  display: flex;
}

.darkin_kayn.open {
  position : fixed;
  display: flex;
}

/* APOLOGY */

.apology {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


/* MAIN */


.container {
  width: 525px;
  height: 365px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 25px;
  color: white;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  backdrop-filter: blur(15px);
  background-color: rgb(20, 17, 28, 0.8);

  /* background-color: #14111C; */

}

.container.register {
  height: 465px;
}

h2 {
  font-size: 35px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 15px;
}

.form-group input {
  width: 325px;
  height: 38px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px 15px;


}

.form-group input[type="submit"] {
  margin-top: 15px;
  background-color: #E3E651;
  color: black;
  font-weight: bold;
  cursor: pointer;

}

.form-group input[type="submit"]:hover {
  background-color: #D9D555;
  color: black;
}

.register-link {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  color: #AAABB7;
}

.register-link a {
  color: red;
  text-decoration: none;
}

/* PLAYLIST */

.index_main {
  margin-top: 130px;
  margin-left: 40px;
}

.main h2 {
    font-size: 25px;
    color: white;

    outline: none;
    box-shadow: none;
    border: none;
}

.main a {
  height: 20px;
  width: 20px;
}

.main .add-playlist {
  margin-left: 10px;
}

.main .fa-trash {
  margin-left: 10px;
}

.main .add-playlist img {
  height: 20px;
  width: 20px;
}

.remove_playlist {
  height: 100%;
  width: 100%;

  display: none;
}

.remove_playlist a {
  height: 100%;
  width: 100%;

  color: white;
  background-color: rgb(255,0,0, 0.5);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.remove_playlist a span {
  height: 40px;
  width: 200px;
  margin: 5px;
  text-align: center;
}

span .fa-trash-can {
  font-size: 40px;
}

.playlist-container {
  display: flex;
  flex-wrap: wrap;

}

.playlist-container .playlist {
  height: 100%;
  width: 100%;
  transition: box-shadow 0.3s ease;

  backdrop-filter: blur(15px);
  background-color: rgb(0, 0, 0, 0.15);

  /* background-color: #403754; */
}

.playlist-container .playlist_link {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.playlist-container .border {
  height: 250px;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.playlist .playlist-image {
  height: 200px;
}

.playlist .playlist-image img{
  height: 200px;
  width: 200px;
}

.playlist .title-container {
  height: 30px;
  overflow: hidden;
  margin: 10px;
}

.playlist-title {
  font-size: 15px;
  color: white;
  white-space: nowrap;
  animation: scrollText 15s linear infinite;
}

.playlist-title.no-scroll {
  animation: none;
}

.playlist_new {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  backdrop-filter: blur(15px);
  background-color: rgb(0, 0, 0, 0.15);
}

.play_list-add {
    height: 125px;
    width: 150px;
    border-radius: 20px;
    outline: 3px dashed #22CE34;

    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-line {
  position: relative;
  width: 100px;
  height: 100px;
}

.playlist_new .add_text {
  margin-top: 10px;
  color: white;
  font-size: 15px
}

.plus-line::before,
.plus-line::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #DF3822;
}

.plus-line::before {
  width: 7px;
  height: 75px;
  transform: translateX(-50%) translateY(-50%);
}

.plus-line::after {
  width: 75px;
  height: 7px;
  transform: translateX(-50%) translateY(-50%);
}

.add-playlist img:hover {
  cursor: pointer;
  transform: scale(1.1);
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); */
}

.playlist:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.playlist_new:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.remove_playlist.open {
  display: flex;
}

.playlist_link.close {
  display: none;
}

.fa-trash:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Playlist popup */


.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.popup-content {
  width: 700px;
  height: 500px;
  border-radius: 35px;
  padding: 20px;
  color: white;

  backdrop-filter: blur(15px);

  background-color: rgb(20, 17, 28, 0.7);
  /* background-color: #14111C; */
}

.popup-content h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 30px;
}

.form_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_content .upload-image {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form_content label {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}



.upload-image img {
  height : 129px;
  width: 154px;
}

.upload-image img:hover {
  cursor: pointer;
}

.url-title {
  padding-left: 20px
}

.url-title .url {
  margin-bottom: 15px
}

.url-title div br {
  padding: 20px;
}

.url-title div input {
  height: 30px;
  width: 400px;
  background-color: #D9D9D9;
  border-radius: 20px;
  padding: 20px;
  margin-top: 5px;
}

.submit_create {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
}

.submit_create input {
  height: 40px;
  width: 574px;
  border-radius: 20px;
  background-color: #E3E651;
  font-size: 20px;
  font-weight: bold;
}

.submit_create input:hover {
  transform: scale(1.01);
  cursor: pointer;
}

/* VIDEOS */

.video_main {
  height: calc(100% - 80px);
  width: 100%;
  margin-top: 80px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vmain-1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vmain-1 .vmain-url {
  height: 100%;
  /* width: 80%; */
  background-color: black;
}

iframe {
  height: 100%;
  width: 100%;
}

.vmain-1 .vmain-title {
  height: 100%;
  width: 300px;
  display: block;

  /* background-color: black; */
}

.v_title-header {
  height: 40px;
  color: white;
  display: flex;
  align-items: center;

  backdrop-filter: blur(15px);
  background-color: rgb(50, 9, 25, 0.7);

  /* background-color: #0B090F; */
}

.v_title-list {
  width: 300px;
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;

  backdrop-filter: blur(15px);
  background-color: rgb(20, 17, 28, 0.2);

  /* background-color: #14111C; */
}

.v_title-header a {
  margin-left: 10px;
  font-size: 17px;
}

.v_list {
  width: 300px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  /* background-color: rgba(29, 32, 49, 0.54); */
  overflow: hidden;
  padding: 10px;

  border: 1px solid black;
  box-shadow: inset 0 0 0 0.5px #2E293A;
}

.v_list a {

  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.v_list:hover {
  cursor: pointer;

  background-color: rgba(50, 32, 49, 0.5);

  /* background-color: rgba(29, 32, 49, 1); */
}

.v_list a:hover {
  cursor: pointer;
  animation: scrollText 15s linear infinite;
}

.active {
  background-color: rgba(50, 32, 49, 0.5);

  /* background-color: rgba(39, 32, 49, 1); */
}

input::placeholder {
  color: #FFD0D0;
}


/* SETTINGS */

.settings_main {
  margin-top: 130px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  height: calc(100% - 130px - 40px);
  width: calc(100% - 40px - 40px);
}

.s_main {
  height: 100%;
  width: 100%;
}

.s_main-2 {
  height: calc(100% - 50px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.2);

  /* background-color: rgba(29, 32, 49, 1); */
}

.s_main h2 {
  font-size: 25px;
  color: white;

  outline: none;
  box-shadow: none;
  border: none;
}

.s_menu {
  width: 250px;
  height: 100%;
  padding: 10px;
  /* background-color: white; */
}

.s_menu li {
  padding: 5px;
}

.s_menu li  a{
  font-size: 18px;
  color: #FCFF7D;
}

.s_content {
  width: calc(100% - 250px);
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;
  color: white;
  /* background-color: rgba(29, 32, 49, 1); */
}

.c_name {
  display: block;

}

.c_name span {
  margin: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.c_name span form {
  display: flex;
  flex-direction: column;
}

.c_name span form .in-2 {
  width: 80%;
  height: 40px;
  color: white;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.c_name span form .is-2{
  font-size: 13px;
  width: 150px;
  font-weight: bold;
  height: 40px;
  color: black;
  padding-left: 10px;
  background-color: #E3E651;
  border-radius: 15px;

  margin-top: 20px;
}

.c_name span form .is-2:hover {
  cursor: pointer;
  background-color: #DF3939;
  transform: scale(1.05);
}

.c_password {
  width: calc(100% - 250px);
  height: 100%;
  padding-top: 20px;
  padding-left: 10px;

  display: none;
}

.c_password span {
  height: 100%;
  width: 100%;
}

.c_password form div{
  display: flex;
  flex-direction: column;
}

.c_password form div input {
  margin-bottom: 20px;

  height: 40px;
  color: white;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.c_password form div label {
  margin-bottom: 10px;
  margin-left: 10px;
}

.submit_pwd {
  font-size: 13px;
  width: 150px;
  font-weight: bold;
  height: 40px;
  color: black;
  padding-left: 10px;
  background-color: #E3E651;
  border-radius: 15px;
}

.submit_pwd:hover {
  cursor: pointer;
  background-color: #DF3939;
  transform: scale(1.05);
}

.c_name.open {
  display: block;
}
.c_name.close {
  display: none;
}
.c_password.open {
  display: block;
}
.c_password.close {
  display: none;
}

.s_menu li:hover {
  cursor: pointer;
  border: 2px solid #000000;
  background-color: rgba(255, 255, 255, 0.1)
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media(max-width: 1200px) {
  .vmain-1 .vmain-title {
    display: none;
  }
  .vmain-1 {
    height: 500px;
  }

  .video_main {
    display: block;
  }
}